<a href="https://colab.research.google.com/github/IT-HONGREAT/studying/blob/main/pandas_%ED%86%B5%EA%B3%84%EB%A9%94%EC%86%8C%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_intercativity = "all"

In [16]:
from random import *
#여기서는 random 에서 uniform 을 쓰기위해 사용.
#난수 생성

data_1 = []
data_2 = []

for i in range(0,10):
  data_1.append(uniform(0,1))
for i in range(0,10):
  data_2.append(uniform(0,2))

#DataFrame 생성

dict_data = { 'first' : data_1,
             'second' : data_2}

index_data = ['zero','1st','2nd','3rd','4th','5th','6th','7th','8th','9th']
df = pd.DataFrame(dict_data, index = index_data)
df

         first    second
zero  0.627450  0.280821
1st   0.969776  1.842335
2nd   0.252649  1.962262
3rd   0.939933  0.420311
4th   0.295032  1.895976
5th   0.801342  0.173478
6th   0.142729  0.868708
7th   0.923153  0.032596
8th   0.283217  1.977896
9th   0.389409  0.139104

In [18]:
mean_val = df.mean()
#first 평균

first_mean = df['first'].mean()

#second 평균

second_mean = df['second'].mean()

print(mean_val)
print('\n')
print(f'first 평균:{first_mean}')
print(f'second 평균:{second_mean}')

first     0.562469
second    0.959349
dtype: float64


first 평균:0.562469110973645
second 평균:0.959348758196036

In [21]:
#median 은 평쥰이 아니라 중간값을 반환
#전체 중간값
median_val = df.median()

#first 평균

first_median = df['first'].median()

#second 평균

second_median = df['second'].median()

print(median_val)
print('\n')
print(f'first 중간값{first_median}')
print(f'second 중간값:{second_median}')

first     0.50843
second    0.64451
dtype: float64


first 중간값0.5084296906494656
second 중간값:0.644509536176414

In [23]:
#전체 최대값

max_val = df.max()

#first 최대값

first_max = df['first'].max()

#second 최대값

second_max = df['second'].max()

print(max_val)
print('\n')
print(f'first 최대값{first_max}')
print(f'second 최대값:{second_max}')

first     0.969776
second    1.977896
dtype: float64


first 최대값0.9697759192730618
second 최대값:1.9778959756324583

In [25]:
#표준편차

std_val = df.std()

#first 표준편차

first_std = df['first'].std()

#second 표준편차

second_std = df['second'].std()

print(std_val)
print('\n')
print(f'first 표준편차{first_std}')
print(f'second 표준편차:{second_std}')

first     0.325129
second    0.856910
dtype: float64


first 표준편차0.3251287043619581
second 표준편차:0.8569098661156694

In [26]:
# third data 생성 및 추가

data_3 = []

for i in range(0,10):
  data_3.append(uniform(0,2))

dict_data = {'first':data_1,
             'second':data_2,
             'third' : data_3}
index_data = ['zero','1st','2nd','3rd','4th','5th','6th','7th','8th','9th']

#new DataFrame 생성

ndf = pd.DataFrame(dict_data,index = index_data)
ndf

         first    second     third
zero  0.627450  0.280821  1.800332
1st   0.969776  1.842335  0.619356
2nd   0.252649  1.962262  0.848207
3rd   0.939933  0.420311  0.750123
4th   0.295032  1.895976  0.324034
5th   0.801342  0.173478  0.651023
6th   0.142729  0.868708  1.076536
7th   0.923153  0.032596  1.818345
8th   0.283217  1.977896  0.934713
9th   0.389409  0.139104  1.772273